*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --gradient:linear-gradient(to right, rgb(0, 113, 188), #24778a);
}

html{
    font-family: 'Alexandria', 'Open Sans','Outfit', sans-serif;
    height: 100vh;
    font-size: 14px;
}

body{
    background-image: url(./fundo\ do\ bagui.png);
    /* background-repeat: no-repeat; */
    background-size: cover;
    height:100%;

}

.container{
    max-width:540px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color:rgb(0, 113, 188);
}

/* heder */

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foto{
    border-radius: 50%;
    width: 230px;
    /* background: var(--gradient); */
    /* border: 0; */
}

.username{
    font-weight: 400;
    font-size: 2em;
    margin: 16px 0;
}

.description{
    font-size: 1em;
    text-align: center;
}


/* links */
.list{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    gap: 1.5em;
    
}

.list-item{
    background: var(--gradient);
    font-size: 1.2em;
    height: 4em;
    border-radius: 2em;
    display: flex;
    
}
 i{
    font-size: 1.81em;
 }


.redes{
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-grow: 1;
    padding: 0 9px 0 45px;
}

a{
    color: white; 
    text-decoration: none;
}
 a::after{
    color: white;
 }

 /* footer */

 footer{
    display: flex;
    justify-content: space-around;
 }

 .contact{
    padding: 0.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
 }



/* media */

@media (min-width: 815px) {
    html{
        font-size: 18px;
    }
    body{
        background-image: url(./fundo\ do\ bagui.png);
    }

   

}
